:root {
  ---background-color: linear-gradient(
    109.6deg,
    rgb(33, 25, 180) 11.2%,
    rgb(253, 29, 29) 55.2%,
    rgb(252, 176, 69) 91.1%
  );
}

body {
  background: black;
}
.container {
  background: var(---background-color);
  padding: 100px auto;
  margin: 75px auto;
}
.col-sm-6 {
  opacity: 0.9;
}
button {
  margin: 50px auto;
}
