:root {
  ---background-color: linear-gradient(
    109.6deg,
    rgb(33, 25, 180) 11.2%,
    rgb(253, 29, 29) 55.2%,
    rgb(252, 176, 69) 91.1%
  );
}

.home-page-index {
  background-image: url(https://th.bing.com/th/id/OIP.ng0C15WvoadowGLtkJyMhwHaHa?rs=1&pid=ImgDetMain);
  background-size: 110%;
}
.home-index {
  background: black;
  color: #f96d00;
  opacity: 0.7;
  padding: 100px auto;
  margin: 75px auto;
  text-align: center;
}
.menu-weekly-specials {
  background: black;
  color: aliceblue;
}
.breakfast-page {
  background: black;
  color: aliceblue;
}
.lunch-page {
  background: black;
  color: aliceblue;
}
.dinner-page {
  background: black;
  color: aliceblue;
}
.col-sm-6 {
  opacity: 0.9;
}

.weekly-specials {
  color: aliceblue;
  padding: 35 px auto;
  margin: 50px auto;
}

.breakfast-page,
.lunch-page,
.dinner-page {
  text-align: center;
}
