:root {
  ---background-color: linear-gradient(
    109.6deg,
    rgb(33, 25, 180) 11.2%,
    rgb(253, 29, 29) 55.2%,
    rgb(252, 176, 69) 91.1%
  );
}

body {
  background: ;
}
.home-page-index {
  background-image: url(https://th.bing.com/th/id/OIP.ng0C15WvoadowGLtkJyMhwHaHa?rs=1&pid=ImgDetMain);
  background-position: center;
  background-size: cover;
}
.home-index {
  background: lightsalmon;
  opacity: 0.9;
  padding: 100px auto;
  margin: 75px auto;
  text-align: center;
}
.week {
  background: orangered;
}
.col-sm-6 {
  opacity: 0.9;
}
.call-cafe {
  font-size: 30px;
  margin: 50px auto;
  border-radius: 9px;
  text-decoration: none;
  color: black;
}
.breakfast-page {
  text-align: center;
}
